<div class="main-bg ">

    <div class="top-spacing-small"></div>
    <div class="container">
        <div class="top-bar  pd-2">
            <div class="row ">

                <div class="col-md-3 col-sm-12">
                    <div class=" text-center">
                        <img class="logo" width="40%" src="assets\Game-Knight-Logo-Horizontal.svg"
                            alt="Game Knight Logo">
                    </div>
                </div>



                <div class="col-md-3 col-sm-12 ">
                    <h5 class="">Rounds<br>Played: {{roundsPlayed}} </h5>
                </div>
                <div class="col-md-3 col-sm-12 ">
                    <h5 class="">Score To Win Round: {{scoreToWin}} </h5>
                </div>


                <div class="col-md-3 d-flex ">
                    <div class="center-mobile">
                        <button class="btn btn-lg btn-danger negative-btn "><span style="font-size: 1.6rem;"><i class="bi bi-box-arrow-right"></i></span></button>

                    </div>
                </div>
            </div>


        </div>
    </div>




</div>