.thin-border-right
{
    border-right: 1px solid #fff;
}

.float-right
{
    float: right!important;
}

.desktop-float-right
{
    float: right!important;
}

.center-mobile {
    text-align: center;
    margin: 0 auto;
}

.rounds-won {
    color: #eee;
    font-size: 1.5rem;
    font-family: 'Manrope', sans-serif;
}

p img {
    vertical-align: text-bottom;
}


.score-increment-buttons-container .btn {
    font-size: 2.5rem;
    padding: 2% 6%;
}

.team-name-container {
    text-align: center;
    margin-top: 8%;
}








/* Media queries for mobile devices */
@media only screen and (max-width: 480px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
     {
        font-size: 1rem;
    }

.score{
    font-size: 2.5rem;
}

    p {
        font-size: 0.8rem;
    }

    .ghost-mobile {
        visibility: hidden;
    }

    .center-on-mobile {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .center-on-mobile h5 {
        font-size: 0.9rem;
        font-weight: 400;
        font-family: 'Manrope', sans-serif;
        
    }

    .score-increment-buttons-container .btn {
        font-size: 1.7rem;
        padding: 2% 6%;
    }

    .desktop-float-right {
        float: none!important;
    }


}


@media only screen and (min-width: 481px) {
    
    .desktop-float-right
    {
        float: right!important;
    }
    


}
