.thin-border-right
{
    border-right: 1px solid #fff;
}

.float-right
{
    float: right!important;
}

.center-mobile {
    text-align: center;
    margin: 0 auto;
}

.roundsWon {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Manrope', sans-serif;
}

.score-increment-buttons-container .btn {
    font-size: 2.5rem;
    padding: 2% 6%;
}

.team-name-container {
    text-align: center;
    margin-top: 8%;
}




/* Media queries for mobile devices */
@media only screen and (max-width: 480px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
     {
        font-size: 1rem;
    }

.score{
    font-size: 2.5rem;
}

    p {
        font-size: 0.8rem;
    }

    .ghost-mobile {
        visibility: hidden;
    }

    .center-on-mobile {
        text-align: center;
        margin: 0 auto;
    }


    .score-increment-buttons-container .btn {
        font-size: 1.7rem;
        padding: 2% 6%;
    }

}
