

.main-bg {
    height: 100vh;
    width: 100vw;


/* flat blue gradient bg */
    /* background: rgb(57,114,193);
    background: linear-gradient(60deg, rgba(57,114,193,1) 35%, rgba(17,175,209,1) 100%); */

   
   /* Polymorphism gradient bg */
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(214.84, 65%, 53%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(190.45, 97%, 31%) 0, transparent 55%);
}


#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.form-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #fff;
  
    
}

.glass {
    padding-bottom: 10%;
}


.form-container .row {
    justify-content: center;
    align-items: center;

}



.form-container .row  mat-form-field {
    width: 100%;
    padding: 0 5%;
 

}


.positive-btn{
background-color: #3db7af;
color: #fff;
/* font-weight: 600; */
border: none;
width: 90%;
margin: 0 auto;
}

.positive-btn:hover{
    background-color: #329f98;
    color: #fff;
    /* font-weight: 600; */
    border: none;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
    }



.form-label {
    color: #f1f1f1;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    /* padding-top: 10%; */
}

.logo {
    /* height: 100px; */
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
   
   
    .logo {
        width: 160px; }

  }


  @media (max-width: 750px) {
    #background-video { display: none; }
    .fallback-bg {
        background-color: #111927;
        background-image: 
            radial-gradient(at 47% 33%, hsl(214.84, 65%, 53%) 0, transparent 59%), 
            radial-gradient(at 82% 65%, hsl(190.45, 97%, 31%) 0, transparent 55%);
    }
}