<div class="main-bg">
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore id voluptatum aliquam, aut, illum eligendi voluptatem quas, saepe nisi quos earum ab maxime reiciendis accusantium iste quia. Ea, enim pariatur!</p>




<p class="monument-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore id voluptatum aliquam, aut, illum eligendi voluptatem quas, saepe nisi quos earum ab maxime reiciendis accusantium iste quia. Ea, enim pariatur!</p>




<p class="monument-normal">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore id voluptatum aliquam, aut, illum eligendi voluptatem quas, saepe nisi quos earum ab maxime reiciendis accusantium iste quia. Ea, enim pariatur!</p>



</div>