/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'MonumentExtended-Bold';
    src: url('/assets/fonts/MonumentExtended-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MonumentExtended-Normal';
    src: url('/assets/fonts/MonumentExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



h1,h2,h3,h4,h5,h6, .score {
    font-family: 'MonumentExtended-Bold', sans-serif;
    color: #eeeeee;
}


p {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #eeeeee;
}

.glass .sub-heading{
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}


.top-spacing {
    padding-top: 5%;
}


.glass {
        padding: 6%;
        border: 1px solid rgba(255, 255, 255, 0.705);
        backdrop-filter: blur(19px) saturate(170%);
        -webkit-backdrop-filter: blur(19px) saturate(170%);
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.625);
        
   
}
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
