/* @import "~bootstrap-icons/font/bootstrap-icons.css"; */

/* You can add g


lobal styles to this file, and also import other style files */
@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'MonumentExtended-Bold';
    src: url('/assets/fonts/MonumentExtended-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MonumentExtended-Normal';
    src: url('/assets/fonts/MonumentExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



h1,
h2,
h3,
h4,
h5,
h6,
.score {
    font-family: 'MonumentExtended-Bold', sans-serif;
    color: #eeeeee;
  
}

.score {
    font-size: 7rem;
    text-align: center;
}

.score-increment-buttons-container{
    /* font-size: 3rem; */
    text-align: center;
}

h5{
    line-height: 1.5;
}

p {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #eeeeee;
}

.glass .sub-heading {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}


.top-spacing {
    padding-top: 5%;
}

.top-spacing-small {
    padding-top: 2%;
}

.glass {
    border: 1px solid rgba(255, 255, 255, 0.705);
    backdrop-filter: blur(19px) saturate(170%);
    -webkit-backdrop-filter: blur(19px) saturate(170%);
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.625);


}

.btn {
    color: #fff;
    font-weight: 600;
    border: none;
    font-family: 'Manrope', sans-serif;
    text-transform: capitalize;
}


.positive-btn {
    background-color: #3db7af;

}

.positive-btn:hover {
    background-color: #329f98;
    color: #fff;
    cursor: pointer;
}

.negative-btn {
    background-color: #DE4D43;

}


.error-message {
    color: #cd615a;
    /* font-size: 0.8rem; */
    /* font-family: 'Manrope', sans-serif; */
    font-weight: 600;
}

.negative-btn:hover {
    background-color: #c54138;
    color: #fff;
    cursor: pointer;
}

.exit-session{
    padding: 45%;
}

.pd-6 {
    padding: 6%;
}

.pd-4 {
    padding: 4%;
}

.pd-2 {
    padding: 2%;
}

.pd-1 {
    padding: 1%;
}


.mb-2 {
    margin-bottom: 2%;
}

.mb-3 {
    margin-bottom: 3%;
}

.mb-4 {
    margin-bottom: 4%;
}

.main-bg {
    height: 100vh;
    width: 100vw;


    /* flat blue gradient bg */
    /* background: rgb(57,114,193);
    background: linear-gradient(60deg, rgba(57,114,193,1) 35%, rgba(17,175,209,1) 100%); */


    /* Polymorphism gradient bg */
    background-color: #111927;
    background-image:
        radial-gradient(at 47% 33%, hsl(214.84, 65%, 53%) 0, transparent 59%),
        radial-gradient(at 82% 65%, hsl(190.45, 97%, 31%) 0, transparent 55%);
}


p {
    font-size: 1rem;
}

/* Media queries for tablet devices */
@media only screen and (max-width: 768px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .score {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }
}

/* Media queries for mobile devices */
@media only screen and (max-width: 480px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
     {
        font-size: 1rem;
    }

.score{
    font-size: 2rem;
}

    p {
        font-size: 0.8rem;
    }

    .ghost-mobile {
        visibility: hidden;
    }

    .center-mobile {
        text-align: center;
    }

}


html,
body {
    height: 100%;
}

/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */